body
{
	background: #e0e5ec;
}
.frame
{
	width: 90%;
	margin: 40px auto;
	text-align: center;
}
button
{
	margin: 20px;
}
.custom-btn
{
	width: 130px;
	height: 40px;
	color: #fff;
	border-radius: 5px;
	padding: 10px 25px;
	font-family: 'Lato',sans-serif;
	font-weight: 600;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	outline: none;
}
.btn-1
{
	background: linear-gradient(0deg,rgba(255,151,0,1)0% , rgba(251,75,2,1)100%);
	line-height: 42px;
	padding: 0;
	border: none;
}
.btn-1:before , .btn-1:after
{
	position: absolute;
	content: "";
    right: 0;
    bottom: 0;
    background: rgba(251,75,2,1);
    transition: all 0.3s ease;
}
.btn-1:before
{
	height: 0;
	width: 2px;
}
.btn-1:after
{
	height: 2px;
	width: 0;
}
.btn-1:hover
{
	color: rgba(251,75,2,1);
	background: transparent;
}
.btn-2
{
	background: rgb(247,150,192);
	background: radial-gradient(circle,rgba(247,150,192,1)0% , rgba(118,174,241,1)100%);
	line-height: 42px;
	padding: 0;
	border: none;
}
.btn-2:before , .btn-2:after
{
	position: absolute;
	content: "";
    height: 0%;
    width: 1px;
    background: rgba(251,75,2,1);
    transition: all 0.3s ease;
}
.btn-2:before
{
	right: 0;
	top: 0px;
	transition: all 500ms ease;
}
.btn-2:after
{
	left: 0px;
	bottom: 0;
}
.btn-2:hover
{
	color: #76aef1;
	background: transparent;
}