// Color Declarations
$color-white : #ffffff;
$color-primary : #28B498;
$color-accent1 : #EEF5F3;
$color-accent2 : #88908E;
$color-accent3 : #E1EAE7;
$color-accent4 : #223331;

//fonts
$font-primary:'Montserrat',sans-serif;
$font-secondary:'Raleway',sans-serif;

//Helper Margins
$small-margin-b:2rem;
$medium-margin-b:4rem;
$large-margin-b:8rem;

//some small adjustments

*,
*::before,
*::after
{
	box-sizing: border-box;
}
html
{
	font-size: 62.5%;
}
body
{
	font-size: 1.6rem;
	font-weight: 200;
	font-family: $font-primary;
	min-height: 100vh;
   background-color: #edf2fc;
}

//styling

.main-page
{
	display: flex;
	flex: 1;
	align-items: stretch;
	justify-content: space-between;
	height: 100vh;
	overflow: hidden;
}
.form
{
	padding: $medium-margin-b 0;
	border-style: solid;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
	width: 45rem;
   
   &_legend
   {
   	 text-align: center;
   	 padding: 0.5rem;
   }
   &_body
   {
   	 display: flex;
   	 flex-direction: column;
   	 align-items: center;
   }
   &_group
   {
   	 display: flex;
   	 flex: 1;
   	 justify-content: space-between;
   	 align-items: center;
   }
   &_input
   {
   	 display: block;
   	 width: 100%;
   	 max-width: 45rem;
   	 background-color: $color-accent1;
   	 border:none;
   	 outline: none;
   	 height: 5rem;
   	 border-radius: 2rem;
   	 padding: 0 1.5rem;
   	 transition: background .3s;
   	 color: $color-accent2;
   	 font-size: 1.8rem;
   	 margin-bottom: 2rem;

   	 &-half
   	 {
        display: inline-block;
        width: 48.5%;
   	 } 

   	 &-checkbox:checked
   	 {
   	 	filter: invert(100%) hue-rotate(118deg) brightness(1.2);
   	 }

   	 &::placeholder
   	 {
   	 	font-size: 1.6rem;
   	 	font-weight: 400;
   	 	font-family: inherit;
   	 	opacity: .75;
   	 }
   	 &:focus,&active
   	 {
   	 	background: $color-white;
   	 	border:  1px solid $color-accent3;
       } 
     
   }
}

.switch
{
   z-index: 100;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: $color-primary;
   padding: 0 2rem;
   color: $color-white;

   &_header
   {
      margin-bottom: $medium-margin-b;
   }
   &_text-container
   {
      text-align: center;
   }
}

.login,.signup
{
   display: flex;
   opacity: 1;
   flex-basis: 0;
   flex-shrink: 1;
   flex-grow: 1;
   padding: 2rem 4rem;
   flex-direction: column;
   align-items: center;
   overflow-y: auto;

   &_header
   {
      margin-bottom: 0;
   }
   &_byline
   {
      margin-bottom: $medium-margin-b;
   }
}

.social-media
{
   &_container
   {
      display: flex;
      flex-direction: row;
      flex: 1;
      align-items: center;
      justify-content: center;
      margin-bottom: $medium-margin-b;
   }
   &_icon:not(:last-child)
   {
      margin-right: 1rem;
   }
}
.social-media_container a:hover
{
   color: #ff4321;
}
.social-media a:hover
{
   color: #ff4321;
}

.header
{
   text-align: center;
   font-weight: 200;
}

.icon
{
   cursor: pointer;
}

.btn
{
   width: 23.5rem;
   min-height: 5.5rem;
   background-color: $color-primary;
   border-radius: 3rem;
   outline: 0;
   border: none;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #c4c3ca;
   font-family: $font-secondary;
   font-size: 1.8rem;
   line-height: 2rem;
   text-align: center;
   margin: 3.2rem 0;
   transition: .3s;

   &:hover, &:active
   {
      background-color:lighten($color-primary,5%);
   }
   &-white
   {
      background-color: $color-white;
      color: black;
      box-shadow: 0 12px 24px rgba($color-accent4,.13);

      &:hover,&:active
      {
         background-color:$color-white;
         color: $color-primary;
         box-shadow: none;
      }
   }
}
.hide-view
{
   opacity: 0;
   flex-basis: 0;
   flex-shrink: 1;
   flex-grow: 0.000001;
   overflow: hidden;
   padding: 0;
   margin: 0;
}
.signup.hide-view
{
   transform: translateX(-50vw);
}
.login.hide-view
{
   transform: translateX(50vw);
}
.smooth
{
   transition: transform .3s linear, opacity .3s ease-in-out,flex-grow .9s cubic-bezier(0.19,1,0.22,1);
}
.btn
{
   border-radius: 6px;
   height: 40px;
   width: 130px;
   font-size: 13px;
   font-weight: 600;
   text-transform: uppercase;
   font-style: italic;
   -webkit-transition: all 200ms linear;
   transition: all 200ms linear;
   padding: 0 30px;
   display: -webkit-inline-flex;
   display: -ms-inline-flexbox;
   display: inline-flex;
   -webkit-align-items: center;
   -moz-align-items: center;
   -ms-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   -moz-justify-content: center;
   -ms-justify-content: center;
   justify-content: center;
   -ms-flex-pack: center;
   border: none;
   background-color: #212121;
   color: #c4c3ca;
   
}
.btn:active, .btn:focus
{
   background-color: #ff4321;
   color: #ffeab7;
   
}
.btn:hover
{
   background-color: #ff4321;
   color: #ffeab7;
   box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
}